---
import Layout from "@layouts/Layout.astro";
import doctor from "assets/hospital.jpeg";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture } from "astro:assets";
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Works</Fragment>
      <Fragment slot="desc">
        Empowering Nepal: Health, Education, and Sanitation for All
      </Fragment>
    </Sectionhead>
    <div class="grid grid-cols-3 gap-6 mt-4 px-4">
      <div class="col-span-1">
        <Picture
          src={doctor}
          alt={"doctor treating patient"}
          sizes="(max-width: 800px) 100vw, 800px"
          width={800}
          height={600}
          loading={"lazy"}
          decoding={"async"}
          class="w-full rounded-md object-cover object-center bg-white"
        />
      </div>
      <div class="col-span-2">
        <div class="text-2xl font-bold mt-2 mb-1">
          Welcome to the Human Welfare Foundation!
        </div>
        <p class="py-2">
          Established in 2010, our foundation experienced a resurgence in 2021
          through the efforts of a dedicated group of professionals. Inspired by
          the challenges faced during the COVID-19 pandemic, particularly the
          strain on hospitals, health facilities, and the lack of basic needs,
          our president was motivated to assist those in need. This sparked the
          foundation's mission to address health, education, and sanitation
          issues across rural and semi-urban areas in Nepal.
        </p>
        <p class="py-2">
          In March 2021, during the height of the pandemic, our president
          organized a health advocacy program that provided free health
          counseling, mental health screenings, and distributed masks,
          sanitizers, and food to those who couldn't afford them. This marked
          the beginning of our expanded efforts.
        </p>
        <p class="py-2">
          Initially, the foundation was run solely by its founder, but over
          time, it has grown significantly. By June 2024, we have reached
          approximately 1,000 people across Nepal, from the eastern regions to
          the far western areas, and from altitudes of 100 meters to 4,500
          meters.
        </p>
        <p class="py-2">
          We are committed to delivering student awareness programs, regular
          health camps, and screening initiatives in underserved communities, as
          well as organizing sanitation projects and offering financial support
          to those in need. While we currently operate without donors, we are
          proud to be taking steps to improve the welfare of our country and the
          world. Join us in making a difference! We highly respect and
          appreciate your contribution.
        </p>
      </div>
    </div>
  </Container>
</Layout>
